allow-flight=false
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=false
difficulty={{ server_properties.difficulty }}
enable-command-block=false
enable-jmx-monitoring={{ server_properties.enable_jmx_monitoring }}
enable-query=false
enable-rcon={{ server_properties.enable_rcon }}
enable-status=true
enforce-secure-profile=true
enforce-whitelist=false
entity-broadcast-range-percentage=100
force-gamemode=false
function-permission-level=2
gamemode={{ server_properties.gamemode }}
generate-structures=true
generator-settings={}
hardcore=false
hide-online-players=false
initial-disabled-packs=
initial-enabled-packs=vanilla
level-name={{ server_properties.level_name }}
level-seed={{ server_properties.level_seed }}
level-type=minecraft\:normal
log-ips=true
max-chained-neighbor-updates=1000000
max-players={{ server_properties.max_players }}
max-tick-time=60000
max-world-size=29999984
motd={{ server_properties.motd }}
network-compression-threshold=256
online-mode=true
op-permission-level=4
player-idle-timeout=0
prevent-proxy-connections=false
pvp={{ server_properties.pvp }}
query.port=25565
rate-limit=0
rcon.password={{ server_properties.rcon_password }}
rcon.port={{ server_properties.rcon_port }}
require-resource-pack=false
resource-pack-prompt=
resource-pack-sha1=
resource-pack=
server-ip=
server-port={{ server_properties.server_port }}
simulation-distance=10
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection={{ server_properties.spawn_protection }}
sync-chunk-writes=true
text-filtering-config=
use-native-transport=true
view-distance=10
white-list=false